{% style %}
.header {
	position: relative;
}

.header::after {
    content: "";
    position: absolute;
    bottom: -24px;
    height: 2px;
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}
{% endstyle %}


<nav class="header__main-nav main-nav">
	<ul class="main-nav__list">

		<li class="dropdown" id="products-dropdown">
			<button class="dropdown-button" type="button">
				Products
			</button>
		<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="16" height="16" transform="translate(0 0.5)" fill="white"></rect>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9462 6.46299C12.0555 6.74324 11.9951 7.06583 11.7932 7.28033L8.49913 10.7803C8.22347 11.0732 7.77653 11.0732 7.50087 10.7803L4.20677 7.28033C4.00489 7.06583 3.9445 6.74324 4.05375 6.46299C4.16301 6.18273 4.4204 6 4.7059 6L11.2941 6C11.5796 6 11.837 6.18273 11.9462 6.46299Z" fill="#FF8F8F"></path>
</svg>
			<ul class="dropdown-selection">
				
				<li>
					<a href="/collections/all">Quiet Books</a>
				</li>
			
				<li>
					<a href="/collections/all">Mini Quiet Books</a>
				</li>
			
				<li>
					<a href="/collections/all">Booklets</a>
				</li>
			
				<li>
					<a href="/collections/all">Wooden Toys</a>
				</li>
			
				<li>
					<a href="/collections/all">Wall decorations</a>
				</li>
			
			</ul>
		</li>

		
		<li class="main-nav__item">
			<a class="main-nav__link" href="/">
				Child Development
			</a>
		</li>
		<li class="main-nav__item">
			<a class="main-nav__link" href="/">
				What are Quiet Books
			</a>
		</li>
		<li class="main-nav__item">
			<a class="main-nav__link" href="/">
				Blog
			</a>
		</li>
		<li class="dropdown" id="about-dropdown">
			<button class="dropdown-button" type="button">
				About us
			</button>
			<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="16" height="16" transform="translate(0 0.5)" fill="white"></rect>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9462 6.46299C12.0555 6.74324 11.9951 7.06583 11.7932 7.28033L8.49913 10.7803C8.22347 11.0732 7.77653 11.0732 7.50087 10.7803L4.20677 7.28033C4.00489 7.06583 3.9445 6.74324 4.05375 6.46299C4.16301 6.18273 4.4204 6 4.7059 6L11.2941 6C11.5796 6 11.837 6.18273 11.9462 6.46299Z" fill="#FF8F8F"></path>
</svg>
			<ul class="dropdown-selection">
			
				<li>
					<a href="/">Manufacturing Process</a>
				</li>
			
				<li>
					<a href="/">About us</a>
				</li>
			
				<li>
					<a href="/">Our Production</a>
				</li>
			
				<li>
					<a href="/">Manufacturing Process</a>
				</li>
			
				<li>
					<a href="/">Trade Fairs</a>
				</li>
			
				<li>
					<a href="/">Blogger Product</a>
				</li>
			
				<li>
					<a href="/">Blog</a>
				</li>
			
			</ul>
		</li>

		<li class="dropdown" id="support-dropdown">
			<button class="dropdown-button" type="button">
				Support
		</button>
			<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="16" height="16" transform="translate(0 0.5)" fill="white"></rect>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9462 6.46299C12.0555 6.74324 11.9951 7.06583 11.7932 7.28033L8.49913 10.7803C8.22347 11.0732 7.77653 11.0732 7.50087 10.7803L4.20677 7.28033C4.00489 7.06583 3.9445 6.74324 4.05375 6.46299C4.16301 6.18273 4.4204 6 4.7059 6L11.2941 6C11.5796 6 11.837 6.18273 11.9462 6.46299Z" fill="#FF8F8F"></path>
</svg>
			<ul class="dropdown-selection">
				
				<li>
					<a href="/">FAQ</a>
				</li>
				
				<li>
					<a href="/">Complaint/Return</a>
				</li>
				
				<li>
					<a href="/">Spare parts request</a>
				</li>
				
				<li>
					<a href="/">Contact Us</a>
				</li>
				
			</ul>
		</li><li class="main-nav__item">
			<a class="main-nav__link" href="/">
				Where to Find Us
			</a>
		</li>

	</ul>
</nav>
